@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);

body {
  background-color: #1F1F1F;
  color: #32B247;
  font-family: 'Orbitron', sans-serif;
}

h1{
    text-align: center;
}