@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Used as inspiration http://allison.house/404*/
body{
    position: relative;
    background-color: #1F1F1F;
    background-image: url(../img/stripe.png), url(../img/noise.png);
    background-repeat: repeat-x, repeat;
    background-position: 0 0%;
    background-attachment: fixed;
    font-size: 21px;
    font-family: 'Orbitron', sans-serif;
    color:  #32B247;
    -webkit-font-smoothing: none;
    text-shadow: -1px 1px 6px #32B247, 1px 2px 6px #006400;
    animation: blink 0.1s steps(2, start) infinite, line 8s linear infinite, flicker 0.1s steps(2, start) infinite;
}

@-moz-keyframes blink {
  to {
    background-color: #1D1D1D;
  }
}
@-webkit-keyframes blink {
  to {
    background-color: #1D1D1D;
  }
}
@keyframes blink {
  to {
    background-color: #1D1D1D;
  }
}
@-moz-keyframes line {
  to {
    background-position: 0 100%;
  }
}
@-webkit-keyframes line {
  to {
    background-position: 0 100%;
  }
}
@keyframes line {
  to {
    background-position: 0 100%;
  }
}
@-moz-keyframes flicker {
  to {
    color: #43D05C;
  }
}
@-webkit-keyframes flicker {
  to {
    color: #43D05C;
  }
}
@keyframes flicker {
  to {
    color: #43D05C;
  }
}

/*#BEHAVIOUR*/
h1, h2{
    text-align: center;
}

section{
    width: 600px;
    margin: 20px auto;
}

/*#SIZES & #MARGINS*/
h1{
    margin: 20px 0;
    font-size: 3em;
}

h2{
    font-size: 1.5em;
}

p{
    margin: 10px 0;
}

